.banner {
  background-image: url('/assets/or-workshop/images/banner.jpg');
  background-size: cover;
  min-height: 350px;
  margin-top: calc(-1 * var(--ds-content-spacing));
  margin-bottom: var(--ds-content-spacing);

  .overlay {
    background: rgba(0,0,0,0.5);
    border-radius: $border-radius;
  }
}

