<div class="container">
  <h1>{{ 'admin.users.head' | translate }}</h1>

  <form class="row" (ngSubmit)="onSubmit(searchField.value)">
    <div class="col-sm-6">
      <div class="form-group input-group">
        <input type="text" #searchField [(ngModel)]="query" name="query" (keyup)="onKey()" class="form-control" aria-label="Search input">
        <span class="input-group-append">
                <button type="submit" class="search-button btn btn-secondary">{{ ('admin.users.search' | translate) }}</button>
            </span>
      </div>
    </div>
  </form>

  <ng-container *ngVar="(users$ | async) as usersRD">
    <ul class="list-unstyled">
      <li class="mb-3" *ngFor="let user of usersRD?.payload?.page">
        <div class="lead">{{user.lastName}}, {{user.firstName}}</div>
        <div class="text-muted">{{user.email}}</div>
      </li>
    </ul>
  </ng-container>
</div>
